.submenu {
    font-size: 35px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-top-width: 2px;
    border-top-style: solid;
    padding: 10px 5px 10px 5px;
}

.element {
    padding: 15px 10px 15px 10px;
    font-size: 20px;
    border-bottom: 1px solid;
}

a {
    text-decoration: none;
    color: #000;
}

* {
    margin: 0px;
}